@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: CalSans;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@font-face {
  font-family: CalSans;
  src: url(/src/fonts/CalSans-SemiBold.ttf);
}
.header {
  width: 100%;
  height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}
.header.sticky {
  /* Ваши стили для прикрепленного заголовка */
  position: fixed;
  padding: 5px 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.7490196078);
  transition: 0.2s ease-in-out;
}
.header .burgerMenu {
  overflow-y: scroll;
  position: fixed;
  left: 0px;
  padding: 30px 11px;
  top: 0px;
  z-index: 77;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.header .burgerMenu.active {
  visibility: visible;
  opacity: 1;
}
.header .burgerMenu .left {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header .burgerMenu .left .logo {
  width: 130px;
}
.header .burgerMenu .left .logo img {
  width: 100%;
}
.header .burgerMenu .left .fa-solid {
  border-radius: 100%;
  border: 1px solid #ccc;
  padding: 11px 12px;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}
.header .burgerMenu .left .fa-solid:hover {
  background: #6e40ec;
}
.header .burgerMenu .searchInput {
  width: 100%;
  margin-top: 1rem;
}
.header .burgerMenu .searchInput .form {
  width: 100%;
  color: #ccc;
  border-radius: 10px;
  position: relative;
}
.header .burgerMenu .searchInput .form .iconInput {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.header .burgerMenu .searchInput .form input {
  border: 1px solid #ccc;
  outline-color: blue;
  padding: 13px 40px;
  width: 100%;
  border-radius: 10px;
}
.header .burgerMenu .bottomLinks {
  margin-top: 2rem;
}
.header .burgerMenu .bottomLinks .accordion {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .burgerMenu .bottomLinks .accordion:hover {
  color: #6e40ec;
}
.header .burgerMenu .bottomLinks .content {
  max-height: 0;
  overflow: hidden;
  transition: 0.2S ease-in-out;
  padding-left: 20px;
}
.header .burgerMenu .bottomLinks .content ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 3px;
  border-radius: 10px;
}
.header .burgerMenu .bottomLinks .content ul li:hover {
  background-color: #e9e6e6;
}
.header .burgerMenu .bottomLinks .content ul li a {
  color: #000;
}
.header .burgerMenu .bottomLinks .content span {
  display: inline;
  color: #fff;
  background: green;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
}
.header .burgerMenu .btnWallet {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}
.header .burgerMenu .btnWallet a {
  text-align: center;
  background-color: #8358FF;
  color: #fff;
  border-radius: 30px;
  padding: 0.75rem 2rem;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(108, 106, 212, 0.25), inset 2px 2px 6px #a78df0, inset -5px -5px 10px #6336e4;
  transition: 0.1s ease-in;
}
.header .burgerMenu .btnWallet a:hover {
  box-shadow: 2px 2px 5px 1px rgba(152, 144, 144, 0.75);
  background: #7148eb;
}
.header .burgerMenu .links {
  margin-top: 2rem;
}
.header .burgerMenu .links ul {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.header .burgerMenu .links ul li a {
  color: #757575;
}
.header .burgerMenu .links ul li a i {
  font-size: 20px;
}
.header .burgerMenu .links ul li a i:hover {
  color: #6e40ec;
}
.header .allHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .allHeader .left {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 100px;
}
.header .allHeader .left .logo {
  width: 150px;
}
.header .allHeader .left .logo img {
  width: 100%;
}
.header .allHeader .left .searchInput {
  width: 300px;
}
.header .allHeader .left .searchInput .form {
  width: 100%;
  color: #ccc;
  border-radius: 10px;
  position: relative;
}
.header .allHeader .left .searchInput .form .iconInput {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.header .allHeader .left .searchInput .form input {
  border: none;
  outline-color: blue;
  padding: 13px 40px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc !important;
}
.header .allHeader .right {
  display: flex;
  align-items: center;
  gap: 70px;
}
.header .allHeader .right .links .menu > ul {
  display: flex;
  height: 100%;
}
.header .allHeader .right .links .menu > ul li.dropdown-li {
  position: relative;
}
.header .allHeader .right .links .menu > ul li.dropdown-li:hover ul {
  visibility: visible;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in;
}
.header .allHeader .right .links .menu > ul li.dropdown-li ul {
  position: absolute;
  background: #fff;
  min-width: 300px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  border-radius: 10px;
}
.header .allHeader .right .links .menu > ul li.dropdown-li ul li a {
  padding: 10px;
  font-size: 12px;
  display: block;
}
.header .allHeader .right .links .menu > ul li.dropdown-li .greenNew {
  background: rgb(4, 175, 4);
  color: #fff;
  text-transform: uppercase;
  padding: 2px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 10px;
}
.header .allHeader .right .links .menu > ul li a {
  color: #000;
  padding: 30px 12px;
  display: block;
}
.header .allHeader .right .links .menu > ul li a:hover {
  color: #8358FF;
}
.header .allHeader .right .links .menu > ul .dropdown-li2 {
  position: relative;
}
.header .allHeader .right .links .menu > ul .dropdown-li2:hover ul {
  visibility: visible;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in;
}
.header .allHeader .right .links .menu > ul .dropdown-li2 ul {
  position: absolute;
  background: #fff;
  min-width: 450px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  border-radius: 10px;
}
.header .allHeader .right .links .menu > ul .dropdown-li2 ul li a {
  padding: 10px;
  font-size: 12px;
  display: block;
}
.header .allHeader .right .links .menu > ul .dropdown-li2 .greenNew {
  background: rgb(4, 175, 4);
  color: #fff;
  text-transform: uppercase;
  padding: 2px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 10px;
  display: inline;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 {
  position: relative;
}
.header .allHeader .right .links .menu > ul .dropdown-li3:hover ul {
  visibility: visible;
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 ul {
  position: absolute;
  background: #fff;
  min-width: 380px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  border-radius: 10px;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 ul li a {
  padding: 10px;
  font-size: 12px;
  display: block;
  margin-right: 100px;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 .greenNew {
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 10px;
  display: inline;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 .allContent {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .allHeader .icons ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .allHeader .icons ul li a {
  padding: 5px 10px;
}
.header .allHeader .icons ul li.bar-icon {
  display: none;
  border: 1px solid #ccc;
  border-radius: 100%;
  padding: 5px 10px;
  background: #ffffff;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}
.header .allHeader .icons ul li.bar-icon:hover {
  background: #6e40ec;
}
.header .allHeader .icons ul li a {
  padding: 10px 12px;
  color: #000;
  border-radius: 100%;
  border: 1px solid #ccc;
  width: 10%;
  height: 15%;
  background-color: #fff;
}
.header .allHeader .icons ul li a:hover {
  background: #8358FF;
  color: #fff;
}

@media (max-width: 576px) {
  .header {
    padding-top: 2rem;
    width: 100%;
  }
  .header.sticky {
    /* Ваши стили для прикрепленного заголовка */
    position: fixed;
    padding: 31px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7490196078);
    transition: 0.2s ease-in-out;
  }
  .header .allHeader .left .logo img {
    width: 300% !important;
  }
  .header .allHeader .left .form {
    display: none;
  }
  .header .allHeader .links {
    display: none;
  }
  .header .allHeader .icons ul li:first-child {
    display: none;
  }
  .header .allHeader .icons ul li.bar-icon {
    display: block !important;
  }
  .header .allHeader .icons ul li.bar-icon a {
    padding: 14px 15px;
    color: #000;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .header {
    height: 100px;
    padding-top: 2rem;
    width: 100%;
  }
  .header.sticky {
    position: fixed;
    padding: 31px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7490196078);
    transition: 0.2s ease-in-out;
  }
  .header .allHeader {
    width: 100%;
  }
  .header .allHeader .searchInput {
    display: none;
  }
  .header .allHeader .right .links {
    display: none;
  }
  .header .allHeader .right .icons ul li:first-child {
    display: none;
  }
  .header .allHeader .right .icons ul li.bar-icon {
    display: block !important;
  }
  .header .allHeader .right .icons ul li.bar-icon a {
    padding: 14px 15px;
    color: #000;
  }
}
.footer {
  margin-top: 7rem;
  padding-bottom: 4rem;
}
.footer .allFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .allFooter .left .logo {
  width: 40%;
}
.footer .allFooter .left .logo img {
  width: 100%;
}
.footer .allFooter .left ul {
  display: flex;
  gap: 20px;
}
.footer .allFooter .left ul li i {
  color: #757575;
}
.footer .allFooter .left .txtBottom {
  margin-top: 1rem;
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .allFooter .left .links {
  margin-top: 2rem;
}
.footer .allFooter .left .links a i {
  font-size: 20px;
}
.footer .allFooter .left .links a i:hover {
  color: #6e40ec;
}
.footer .allFooter .right {
  width: 60%;
  display: flex;
  gap: 150px;
}
.footer .allFooter .right ul li {
  line-height: 24px;
}
.footer .allFooter .right ul li a {
  color: #757575;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.footer .allFooter .right ul li a:hover {
  color: #6e40ec;
}
.footer .allFooter .right .linksNft {
  margin-top: 1rem;
}
.footer .allFooter .right h3 {
  font-size: 14px;
  color: #131740;
}
.footer .bottomFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  color: #757575;
}
.footer .bottomFooter p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .bottomFooter p a {
  color: #757575;
}
.footer .bottomFooter p a:hover {
  color: #6e40ec;
}
.footer .bottomFooter .right ul li a {
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@media (max-width: 576px) {
  .footer .allFooter {
    flex-direction: column;
  }
  .footer .allFooter .left {
    width: 100%;
  }
  .footer .allFooter .right {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 2rem;
    margin-top: 2rem;
  }
  .footer .allFooter .right .myAccount {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  .footer .allFooter .right {
    margin-top: 2rem;
  }
}
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.737254902);
}
.header .allHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .allHeader .left {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 100px;
}
.header .allHeader .left .logo {
  width: 150px;
}
.header .allHeader .left .logo img {
  width: 100%;
}
.header .allHeader .left .searchInput {
  width: 300px;
}
.header .allHeader .left .searchInput .form {
  width: 100%;
  color: #ccc;
  border-radius: 10px;
  position: relative;
  border: 1px solid #ccc;
}
.header .allHeader .left .searchInput .form .iconInput {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.header .allHeader .left .searchInput .form input {
  border: none;
  outline-color: blue;
  padding: 13px 40px;
  width: 100%;
  border-radius: 10px;
}
.header .allHeader .right {
  display: flex;
  align-items: center;
  gap: 70px;
}
.header .allHeader .right .links .menu > ul {
  display: flex;
  height: 100%;
}
.header .allHeader .right .links .menu > ul li.dropdown-li {
  position: relative;
}
.header .allHeader .right .links .menu > ul li.dropdown-li:hover ul {
  visibility: visible;
  opacity: 1;
}
.header .allHeader .right .links .menu > ul li.dropdown-li ul {
  position: absolute;
  background: #fff;
  min-width: 300px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  border-radius: 10px;
}
.header .allHeader .right .links .menu > ul li.dropdown-li ul li a {
  padding: 10px;
  font-size: 12px;
  display: block;
}
.header .allHeader .right .links .menu > ul li.dropdown-li .greenNew {
  background: rgb(4, 175, 4);
  color: #fff;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 10px;
}
.header .allHeader .right .links .menu > ul li a {
  color: #000;
  padding: 30px 12px;
  display: block;
}
.header .allHeader .right .links .menu > ul li a:hover {
  color: #8358FF;
}
.header .allHeader .right .links .menu > ul .dropdown-li2 {
  position: relative;
}
.header .allHeader .right .links .menu > ul .dropdown-li2:hover ul {
  visibility: visible;
  opacity: 1;
}
.header .allHeader .right .links .menu > ul .dropdown-li2 ul {
  position: absolute;
  background: #fff;
  min-width: 450px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  border-radius: 10px;
}
.header .allHeader .right .links .menu > ul .dropdown-li2 ul li a {
  padding: 10px;
  font-size: 12px;
  display: block;
}
.header .allHeader .right .links .menu > ul .dropdown-li2 .greenNew {
  background: rgb(4, 175, 4);
  color: #fff;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 10px;
  display: inline;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 {
  position: relative;
}
.header .allHeader .right .links .menu > ul .dropdown-li3:hover ul {
  visibility: visible;
  opacity: 1;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 ul {
  position: absolute;
  background: #fff;
  min-width: 380px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  border-radius: 10px;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 ul li a {
  padding: 10px;
  font-size: 12px;
  display: block;
  margin-right: 100px;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 .greenNew {
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 10px;
  display: inline;
}
.header .allHeader .right .links .menu > ul .dropdown-li3 .allContent {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .allHeader .icons ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .allHeader .icons ul li.bar-icon {
  display: none;
}
.header .allHeader .icons ul li a {
  padding: 10px;
  border-radius: 100%;
  border: 1px solid #ccc;
  width: 10%;
  height: 15%;
  padding-top: 1rem;
  background-color: #fff;
}
.header .allHeader .icons ul li a:hover {
  background: #8358FF;
  color: #fff;
}

.exploreCollections {
  margin-top: 8rem;
}
.exploreCollections .contentCategory .top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.exploreCollections .contentCategory .top h2 {
  font-size: 35px;
  color: #131740;
}
.exploreCollections .contentCategory .top img {
  max-width: 100%;
}
.exploreCollections .contentCategory .topContent {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.exploreCollections .contentCategory .topContent .links ul {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.exploreCollections .contentCategory .topContent .links ul li a {
  border: 1px solid #ccc;
  padding: 13px;
  border-radius: 10px;
  font-size: 13px;
  color: rgb(90, 93, 121);
  transition: 0.1s ease-in;
}
.exploreCollections .contentCategory .topContent .links ul li a:hover {
  background: #6336e4;
  color: #fff;
  border-color: transparent;
}
.exploreCollections .contentCategory .topContent .links ul li:first-child a {
  background: #d4cfcf;
}
.exploreCollections .contentCategory .topContent .links ul li:first-child a:hover {
  background: #6336e4;
  color: #fff;
}
.exploreCollections .contentCategory .topContent .right a {
  color: rgb(90, 93, 121);
  border: 1px solid #ccc;
  padding: 13px;
  border-radius: 10px;
  font-size: 13px;
}
.exploreCollections .contentCategory .items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 5rem;
  flex-wrap: wrap;
}
.exploreCollections .contentCategory .items .item {
  width: calc(25% - 40px);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
}
.exploreCollections .contentCategory .items .item .top {
  display: flex;
  gap: 10px;
}
.exploreCollections .contentCategory .items .item .top img {
  border-radius: 15px;
}
.exploreCollections .contentCategory .items .item .top .images img {
  padding-top: 4.6px;
}
.exploreCollections .contentCategory .items .item .bottomContent {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exploreCollections .contentCategory .items .item .link {
  margin-top: 8px;
}
.exploreCollections .contentCategory .items .item .link a {
  color: #131740;
}
.exploreCollections .contentCategory .items .item .link a:hover {
  color: #6336e4;
}

.footer {
  margin-top: 15rem;
  padding-bottom: 2rem;
}
.footer .allFooter {
  display: flex;
  justify-content: space-between;
}
.footer .allFooter .left .logo {
  width: 40%;
}
.footer .allFooter .left .logo img {
  width: 100%;
}
.footer .allFooter .left ul {
  display: flex;
  gap: 20px;
}
.footer .allFooter .left ul li i {
  color: #757575;
}
.footer .allFooter .left .txtBottom {
  margin-top: 1rem;
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .allFooter .left .links {
  margin-top: 2rem;
}
.footer .allFooter .left .links a i {
  font-size: 20px;
}
.footer .allFooter .left .links a i:hover {
  color: #6e40ec;
}
.footer .allFooter .right {
  width: 60%;
  display: flex;
  gap: 150px;
}
.footer .allFooter .right ul li {
  line-height: 24px;
}
.footer .allFooter .right ul li a {
  color: #757575;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.footer .allFooter .right ul li a:hover {
  color: #6e40ec;
}
.footer .allFooter .right .linksNft {
  margin-top: 1rem;
}
.footer .allFooter .right h3 {
  font-size: 14px;
  color: #131740;
}
.footer .bottomFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  color: #757575;
}
.footer .bottomFooter p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .bottomFooter p a {
  color: #757575;
}
.footer .bottomFooter p a:hover {
  color: #6e40ec;
}
.footer .bottomFooter .right ul li a {
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@media (max-width: 576px) {
  .header {
    width: 100%;
  }
  .header .allHeader .left .form {
    display: none;
  }
  .header .allHeader .links {
    display: none;
  }
  .header .allHeader .icons ul li:first-child {
    display: none;
  }
  .header .allHeader .icons ul li.bar-icon {
    display: block !important;
  }
  .header .allHeader .icons ul li.bar-icon a {
    padding: 14px 15px;
    color: #000;
  }
  .exploreCollections .contentCategory .topContent {
    justify-content: flex-start;
  }
  .exploreCollections .contentCategory .topContent .links {
    width: 100%;
  }
  .exploreCollections .contentCategory .topContent .links ul {
    gap: 10px;
  }
  .exploreCollections .contentCategory .topContent .links ul li a {
    display: block;
    padding: 8px;
  }
  .exploreCollections .contentCategory .topContent .right a {
    display: block;
    padding: 8px;
    margin-top: 8px;
  }
  .exploreCollections .contentCategory .items .item {
    width: 100%;
  }
  .footer .allFooter {
    flex-direction: column;
  }
  .footer .allFooter .left {
    width: 100%;
  }
  .footer .allFooter .right {
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
    padding-bottom: 10rem;
  }
  .footer .allFooter .right .myAccount {
    display: none;
  }
}/*# sourceMappingURL=about.css.map */